Importamos y abrimos el json que cada una tiene guardado

In [14]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import json

Esto lo he copiado del archivo experimento_api

In [8]:
with open('files/artistas_rock_completo.json', 'r', encoding='utf-8') as f:
    lista_artistas_rock = json.load(f)

Abrimos el json correcto que tengo guardado con todos los datos para cargar a sql

In [10]:
df_rock = pd.DataFrame(lista_artistas_rock)

In [11]:
df_rock

,id,artist_name,track_name,genre,year
0,3Cfa9yZMsAPX0KJVr47g9W,Unorthodocks,Snapple Facts,rock,2018
1,3Cfa9yZMsAPX0KJVr47g9W,Funk.Shu,Snapple Facts,rock,2018
2,0i7wsxCMVxxSQbH8HZZ8HQ,Taxi,Grita,rock,2018
3,7JCmaxxkWIcq8BRiSKHH9V,Anne-Marie,2002 - KREAM Remix,rock,2018
4,7JCmaxxkWIcq8BRiSKHH9V,KREAM,2002 - KREAM Remix,rock,2018
...,...,...,...,...,...
1865,09KDB5l9Teu4Jmi0rcX6hT,Rawayana,CAMINAAANDO,rock,2022
1866,3ITvhrRB5TlEks19k9qy2k,Fontaines D.C.,Jackie Down The Line,rock,2022
1867,0DHUNPj3jZU9MfBuVIgSKi,El Cuarteto De Nos,El Cinturón Gris,rock,2022
1868,7LHAKF7pBqHch8o6Yo0ad5,RADWIMPS,Suzume (feat. Toaka),rock,2022
1869,2w7Ca8DNYXBCgA6Bht7o0N,Rammstein,Zick Zack,rock,2022

Ahora hacemos la conexion con el servidor

In [ ]:
usuario = "root"
password = "xxxxxxxxx"
host = "127.0.0.1"
base_de_datos = "pandemusic" # Asegúrate de haber creado el Schema en Workbench

In [ ]:
!pip install sqlalchemy mysql-connector-python
#esto si queremos no tener que hacer la lista de tuplas

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.47-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: mysql-connector-python in C:\Users\aliri\AppData\Local\Programs\Python\Python313\Lib\site-packages (9.6.0)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.2-cp313-cp313-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in C:\Users\aliri\AppData\Local\Programs\Python\Python313\Lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.47-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 6.9 MB/s  0:00:00
Downloading greenlet-3.3.2-cp313-cp313-win_amd64.whl (230 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.2 sqlalchemy-2.0.47

In [16]:
#lo importamos 
from sqlalchemy import create_engine

In [20]:
#creamos el engine a ver que tal
engine = create_engine(f"mysql+mysqlconnector://{usuario}:{password}@{host}/{base_de_datos}")
try:
    df_rock.to_sql('tabla_rock', con=engine, if_exists="replace", index=False)
    print("✅ ¡Conexión exitosa! Los artistas se han guardado en la tabla 'tabla_rock'.")
except Exception as e:
    print(f"❌ Ups, algo falló: {e}")

✅ ¡Conexión exitosa! Los artistas se han guardado en la tabla 'tabla_rock'.