In [4]:
import json
import pandas as pd

# Funciones
def get_genero_data(json, genero):
    archivos_genero = [] # defino funcion para encontrar genero

    for elemento in json:
        if genero in elemento['genre'].lower(): #si el genero esta en la lista, lo agrega
            archivos_genero.append(elemento)
    
    return archivos_genero

def filtrar_anios(json, inicio, fin): 
    cumplen = []

    for elemento in json:  #creo funcion para definir los años con un range+1 y lo agrega a la lista
        if elemento['year'] in range(inicio, fin + 1):
            cumplen.append(elemento)

    return cumplen

# Abro json
with open("Files/definitivo.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    canciones = json.load(fichero)

In [5]:

# Uso funciones para filtrar
latin_genre = get_genero_data(canciones, 'latin')

print("Las cantidad de canciones latinas es: ", len(latin_genre)) #podemos cambiar las variables de genero y rango de años en la misma funcion.

latin_fitradas = filtrar_anios(latin_genre, 2018, 2022)

# Muestro datos con panda
pd.DataFrame(latin_fitradas)

Las cantidad de canciones latinas es:  8253

,id,artist_name,track_name,genre,year
0,0VKkyBKCXyR99navhVRqcP,Zion & Lennox,La player (Bandolera),latin,2018
1,4DS7HoqrKq1dDjeYOKBlu9,Trap Capos,De las 2 (feat. Bad Bunny & Arcángel),latin,2018
2,4DS7HoqrKq1dDjeYOKBlu9,Noriel,De las 2 (feat. Bad Bunny & Arcángel),latin,2018
3,4DS7HoqrKq1dDjeYOKBlu9,Bad Bunny,De las 2 (feat. Bad Bunny & Arcángel),latin,2018
4,4DS7HoqrKq1dDjeYOKBlu9,Arcángel,De las 2 (feat. Bad Bunny & Arcángel),latin,2018
...,...,...,...,...,...
2197,0GQqUziZTC1ry5ZG5Clkl1,ajan,"New Year, Same Dream",latin,2022
2198,4KLJuUPIIRPuAiIbxhLjgI,Joost,2002/2001,latin,2022
2199,17atS5LacDzLe3a5vbeQTx,Playa Cuberris,2006,latin,2022
2200,5nI1jkXMIwrzR0EUbDu07D,Celebration Guns,Too Many Bandifesto,latin,2022
2201,0j2cPfSxLUospUfyO4lxtQ,La Decada Prodigiosa,Cuélate en Mi Música,latin,2022

In [6]:
# Uso funciones para filtrar
rock_genre = get_genero_data(canciones, 'rock')

print("Las cantidad de canciones de rock es: ", len(rock_genre)) #podemos cambiar las variables de genero y rango de años en la misma funcion.

rock_fitradas = filtrar_anios(rock_genre, 2018, 2022)

# Muestro datos con panda
pd.DataFrame(rock_fitradas)

Las cantidad de canciones de rock es:  8929

,id,artist_name,track_name,genre,year
0,3Cfa9yZMsAPX0KJVr47g9W,Unorthodocks,Snapple Facts,rock,2018
1,3Cfa9yZMsAPX0KJVr47g9W,Funk.Shu,Snapple Facts,rock,2018
2,0i7wsxCMVxxSQbH8HZZ8HQ,Taxi,Grita,rock,2018
3,7JCmaxxkWIcq8BRiSKHH9V,Anne-Marie,2002 - KREAM Remix,rock,2018
4,7JCmaxxkWIcq8BRiSKHH9V,KREAM,2002 - KREAM Remix,rock,2018
...,...,...,...,...,...
1865,09KDB5l9Teu4Jmi0rcX6hT,Rawayana,CAMINAAANDO,rock,2022
1866,3ITvhrRB5TlEks19k9qy2k,Fontaines D.C.,Jackie Down The Line,rock,2022
1867,0DHUNPj3jZU9MfBuVIgSKi,El Cuarteto De Nos,El Cinturón Gris,rock,2022
1868,7LHAKF7pBqHch8o6Yo0ad5,RADWIMPS,Suzume (feat. Toaka),rock,2022
1869,2w7Ca8DNYXBCgA6Bht7o0N,Rammstein,Zick Zack,rock,2022

In [7]:
df_rock =pd.DataFrame(rock_fitradas)

In [9]:
df_rock["artist_name"].unique()

<StringArray>
[           'Unorthodocks',                'Funk.Shu',
                    'Taxi',              'Anne-Marie',
                   'KREAM',               'Alex Goot',
     'Kurt Hugo Schneider',              'Jada Facer',
                  'Los 40',           'Fleetwood Mac',
 ...
 'Los Zopilotes Txirriaos',           'Bomba Estéreo',
                  'Second',                'RADWIMPS',
  'Florence + The Machine',       'We Came As Romans',
                   'LOUTA',          'Fontaines D.C.',
                'Level 42',      'El Cuarteto De Nos']
Length: 845, dtype: str