In [17]:

import pandas as pd
import json

In [18]:
with open("Files/definitivo.json", "r") as fichero: # traigo el fichero
    datos_personaje = json.load(fichero)

In [19]:
#declaro el dicionario donde lo voy a meter

dicionario_personajes ={'id':[],
                        'nombre_artista':[],
                        'nombre_cancion':[],
                        'año_lanzamiento':[],
                        'genero_musical':[]}

In [20]:
#lo hago con un dato solo para probar
primer_dato=datos_personaje[0]

In [21]:
dicionario_personajes['id'].append(primer_dato.get('id'))
dicionario_personajes['nombre_artista'].append(primer_dato.get('artist_name'))
dicionario_personajes['nombre_cancion'].append(primer_dato.get('track_name'))
dicionario_personajes['año_lanzamiento'].append(primer_dato.get('year'))
dicionario_personajes['genero_musical'].append(primer_dato.get('genre'))

print(dicionario_personajes)
df_de_1= pd.DataFrame(dicionario_personajes)

df_de_1

{'id': ['7AlYBA5M9FVXDqN31cbExE'], 'nombre_artista': ['Remedios Amaya'], 'nombre_cancion': ['El zarandeo'], 'año_lanzamiento': [2000], 'genero_musical': ['flamenco']}

,id,nombre_artista,nombre_cancion,año_lanzamiento,genero_musical
0,7AlYBA5M9FVXDqN31cbExE,Remedios Amaya,El zarandeo,2000,flamenco

In [ ]:
# funcion 

def almacenar_datos(datos_personaje, dicionario_personajes):
    try:
        for dato in datos_personaje:
            
            dicionario_personajes['id'].append(dato.get('id'))
            dicionario_personajes['nombre_artista'].append(dato.get('artist_name'))
            dicionario_personajes['nombre_cancion'].append(dato.get('track_name'))
            dicionario_personajes['año_lanzamiento'].append(dato.get('year'))
            dicionario_personajes['genero_musical'].append(dato.get('genre'))
        
        return pd.DataFrame(dicionario_personajes)

    except Exception as e:
        print(f"Error en la lista: {e}")
        return None

df_final= almacenar_datos(datos_personaje, dicionario_personajes)

In [23]:
print(df_final)

                           id     nombre_artista      nombre_cancion  \
0      7AlYBA5M9FVXDqN31cbExE     Remedios Amaya         El zarandeo
1      7AlYBA5M9FVXDqN31cbExE     Remedios Amaya         El zarandeo
2      4uqcES2h19TKAXQlciycrO      Nobuo Uematsu  Vamo'alla flamenco
3      0z6xGK2u3nSsbk9XeKYwZQ      Maurice Ravel     Flamenco Bolero
4      6DjfWx0fXi0uQpedpvaCD9         Mark Towns      After the Rain
...                       ...                ...                 ...
61613  6Lv0uLFhPt6e4qcmoeltAq        Jade Macrae   Ain’t Nobody Home
61614  6Lv0uLFhPt6e4qcmoeltAq        Robben Ford   Ain’t Nobody Home
61615  4PtUbfBR2U2BC0uUrT9hnM    No Te Va Gustar            Todo Mal
61616  4PtUbfBR2U2BC0uUrT9hnM  Ciro y los Persas            Todo Mal
61617  762E489aCXNDuRg1sZaWmC            Artemas      time alone w u

       año_lanzamiento genero_musical
0                 2000       flamenco
1                 2000       flamenco
2                 2000       flamenco
3                 2000       flamenco
4                 2000       flamenco
...                ...            ...
61613             2026           rock
61614             2026           rock
61615             2026           rock
61616             2026           rock
61617             2026           rock

[61618 rows x 5 columns]